* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans';
}

/* extra feature: music */
#bgMusic {
    display: none; /* Hide the audio player */
}

.container {
    width: 65%;
    margin: 0 auto;
}

.gameContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    margin: 20px 0px;
}

h1{
    margin: 0.5em 1em;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #c5c9e8;
}

form .options {
    display: flex;
    flex-direction: column;
}

form .options label {
    display: flex;
    flex-direction: row;
    padding: 15px;
}

form input {
    margin-right: 5px;
}

option:first-child {
    display: none;
}

label img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}


.puzzle {
    height: 400px;
	padding: 0px;
	position: relative;
	width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.tile {
    position: absolute;
    font-family: sans-serif;
    font-size: 32pt;
	border: 2px solid black;
	height: 96px;
	line-height: 100px;
	text-align: center;
	vertical-align: middle;
	width: 96px;
    float: left;
    z-index: 1;
}

#sixteen {
    background-color: #000;
}

.btn {
    background-color: #3d54e1;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1em auto;
    display: block;
}

.btn:hover {
    background-color: white;
    color: black;
    outline: 2px solid #3d54e1;
    cursor: pointer;
}

#validator {
    display: flex;
    justify-content: right;
    margin-top:1em;
}

.zero_0 { 
    top: 0px;
    left: 0px;
}
.zero_1 {
    top: 0px;
    left: 100px;
}
.zero_2 {
    top: 0px;
    left: 200px;
}
.zero_3 {
    top: 0px;
    left: 300px;
}

.one_0 {
    top: 100px;
    left: 0px;
}
.one_1 {
    top: 100px;
    left: 100px;
}
.one_2 {
    top: 100px;
    left: 200px;
}
.one_3 {
    top: 100px;
    left: 300px;
}

.two_0 {
    top: 200px;
    left: 0px;
}
.two_1 {
    top: 200px;
    left: 100px;
}
.two_2 {
    top: 200px;
    left: 200px;
}
.two_3 {
    top: 200px;
    left: 300px;
}

.three_0 {
    top: 300px;
    left: 0px;
}
.three_1 {
    top: 300px;
    left: 100px;
}
.three_2 {
    top: 300px;
    left: 200px;
}
.three_3 {
    top: 300px;
    left: 300px;
}

#trophy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 50vh;
    position: absolute;
    top: 25%;
    background-color: #3d54e1;
    z-index: 3;
    box-shadow: 0vw 0vw 2vw 1.5vw rgba(211, 211, 211, 0.783);
    color:white;
    text-align: center;
}

.hide, #hide {
    display: none;
}

#timer {
    text-align: center;
    margin-bottom: 10px;
}